.container00 {
  &.container01 {
    background-color: #0a2632;
  }

  &.container02 {
    background-color: #ffffff;
    //background-image: url(../../images/home/Path5.png);
  }

  &.container03 {
    background-color: #ffffff;
  }

  &.container04 {
    background-color: #ffffff;
  }

  &.container05 {
    background-color: #e6f4f2;
  }

  &.container06 {
    background-color: #102834;
  }
}

.container {
  margin-left: 136px;
}

.titlePadding {
  padding-top: 60px;
}

.titleContainer01 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 84px;
  margin-left: -50px;
}

.subTitleContainer01 {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-left: -50px;
}

.shortTitle {
  width: 550px;
  margin-bottom: -25px;
}

.mediumTitle {
  width: 650px;
  margin-bottom: 25px;
}

.imageEllipse {
  width: 909px;
  height: 909px;
  margin-top: -59px;
  margin-left: 174px;
}

.imageAgricultura01 {
  width: 280px;
  height: 166px;
  top: 751px !important;
  left: 765px !important;
  border-radius: 5px;
  border: 2px solid #faf9fa;
  margin-right: 10px;
}
.imageAgricultura02 {
  width: 280px;
  height: 166px;
  top: 751px;
  left: 765px;
  border-radius: 5px;
  border: 2px solid #faf9fa;
  margin-right: 10px;
}

.imageAgricultura03 {
  width: 280px;
  height: 166px;
  top: 751px;
  left: 765px;
  border-radius: 5px;
  border: 2px solid #faf9fa;
  margin-right: 10px;
}

.imageAgricultura04 {
  width: 280px;
  height: 166px;
  top: 751px;
  left: 765px;
  border-radius: 5px;
  border: 2px solid #faf9fa;
  margin-right: 10px;
}

.imagesFooter {
  margin-top: -229px;
  margin-left: 214px;
}

.titleContainer02 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 77.4px;
  color: #102834;
}

.subTitleContainer02 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #010001;
}

.imageGroup {
  width: 326px;
  height: 378px;
}

.containerImageGroup {
  margin-top: 107px;
}

.nav-item {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16.4px;
}

.btn {
  margin-left: -50px;
  width: 256px;
  height: 48px;
}

.navbar-collapse {
  justify-content: space-around;
  margin-left: 500px;
}

.header {
  margin-right: -45px;
}

.imageContainer02Footer {
  margin-top: 290px;
  margin-left: -13px;
  background-color: #faf9fa;
}

.titleContainer03 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 77.4px;
  color: #102834;
  width: 17%;
  //margin-right: 750px;
}

.subTitleContainer03 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #010001;
}

.icon-container03-01 {
  width: 48px;
  height: 39.11px;
}

.table-title {
  color: #00af5c;
}

.button-table {
  width: 256px;
  height: 48px;
  border-radius: 5px;
}

.button-table-text {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 44.4px;

  color: #111111;
  text-align: center;
}

.lineBeforeTitle {
  //position: absolute;
  width: 90%; /* Ajuste conforme necessário */
  border: 2px solid rgb(16, 40, 52); /* Escolha a cor e o estilo da linha desejados */
  //margin-top: -10px; /* Ajuste conforme necessário */
  margin-top: -51px;
  margin-left: 174px;
}

.titleContainer04 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 77.4px;
  color: #102834;
  width: 17%;
  //margin-right: 750px;
}

.subTitleContainer04 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #010001;
  margin-bottom: 40px;
}

.lineBeforeTitleContainer04 {
  width: 95%; /* Ajuste conforme necessário */
  border: 2px solid #102834; /* Escolha a cor e o estilo da linha desejados */
  margin-top: -51px;
  margin-left: 105px;
}

.card-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #010001;
  margin-left: 12px;
  margin-top: 5px;
  text-align: left;
}

.card-body {
  display: flex;
  margin-left: -14px;
  margin-top: -2px;
  margin-right: -16px;
}

.btn-card {
  width: 52px;
  height: 52px;
  font-family: "Inte", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  line-height: 27px;
  align-items: center;
  border-radius: 3px;
  background-color: #102834;
}

.card {
  border: none;
}

.card-img-top {
  width: 283px;
  height: 216px;
  border-radius: 5px;
}

.container04-container-card {
  display: flex;
  gap: 7px;
}

.titleContainer05 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 77.4px;
  color: #102834;
  width: 17%;
  //margin-right: 750px;
}

.subTitleContainer05 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #2b2849;
  margin-bottom: 40px;
}

.dadosFeedback {
  margin-top: 60px;
  margin-left: 72px;
  //display: flex;
}

.dadosDoFeedback {
  display: inline;
}

.shortTitle {
  text-align: justify;
  width: 93%;
  padding-left: 70px;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2b2849;
}

.carousel {
  width: $carousel-control-width;
  margin-left: 77px;
  height: 300px;
}

.carousel-control-prev {
  margin-left: -40px;
}

.carousel-control-next {
  margin-right: -40px;
}

.carousel-indicators {
  margin-bottom: -6px;
}

.carousel-caption {
  position: absolute;
  bottom: -10px;
  left: 185px;
  text-align: start;
}

.textFeedback {
  margin-top: 25px;
}

.titleAutorFeedback {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  //margin-top: 5px;
}

.subTitleAutorFeedback {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin-top: -19px;
}

.imageFooterContainer05 {
  width: 780px;
  height: 165px;
  border-radius: 5px;
  border: 2px solid #e6f4f2;
}

.containerImageFooter {
  margin-top: -144px;
  margin-left: 300px;
  margin-bottom: 140px;
}
